<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses tracking to provide child-safe contextual ads to support free features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save your awesome skin creations to your photo library!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save your awesome skin creations to your photo library!</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>minecraft</string>
		<string>roblox</string>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>SkinCrafter</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>